:root{
    --main-color: #19171D;
    --main-color-text-title: #D1D2D3;
    --main-color-text: #8D8D8F;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: var(--main-color);
}

header{
    overflow:hidden;
    position: relative;
}

header img{
    height: 100vh;
    filter: blur(5px);
    /* -webkit-transform:scale(1.3);transform:scale(1.3); */
}

header img:hover{
    height: 100vh;
    filter: blur(5px);
}

header p{
    position: absolute;
    color: #D0D0D1;
    font-size: 80px;
    right: 12vw;
    top: 50vh;
    display: flex;
    align-items: center;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:10px;
}

article{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 80px;
}

article section h2{
    color: var(--main-color-text-title);
    font-size: 50px;
    text-shadow: 2px 2px 2px #4c4a50;
}

article section p{
    padding: 20px;
    font-size: 20px;
    color: var(--main-color-text);
    text-align: justify;
}

ul li{
    color: var(--main-color-text);
    text-align: justify;
    font-size: 20px;
    margin-bottom: 12px;
    margin-left: 30px;
}

section{
    margin-top: 50px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #7D8082;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}

@media (max-width: 990px){
    header p{
        text-align: center;
        right: 25vw;
    }

}

@media (max-width: 800px){
    header p{
        text-align: center;
        right: 20vw;
    }

}

@media (max-width: 700px){
    header p{
        font-size: 60px;
        text-align: center;
        right: 20vw;
    }
    
    header p svg{
        height: 70px;
        width: 70px;
    }
}

@media (max-width: 530px){
    header p{
        font-size: 60px;
        text-align: center;
        right: 15vw;
    }
    
    header p svg{
        height: 70px;
        width: 70px;
    }
}

@media (max-width: 470px){
    header p{
        font-size: 60px;
        text-align: center;
        right: 10vw;
    }
    
    header p svg{
        height: 70px;
        width: 70px;
    }
}

@media (max-width: 425px){
    header p{
        font-size: 50px;
        text-align: center;
        right: 12vw;
    }
    
    header p svg{
        height: 60px;
        width: 60px;
    }
}

@media (max-width: 370px){
    header p{
        font-size: 50px;
        text-align: center;
        right: 10vw;
    }
    
    header p svg{
        height: 60px;
        width: 60px;
    }
}

@media (max-width: 350px){
    header p{
        font-size: 50px;
        text-align: center;
        right: 12vw;
        flex-direction:column;
    }
    
    header p svg{
        height: 60px;
        width: 60px;
    }
}


@media (max-width: 300px){
    header p{
        font-size: 50px;
        text-align: center;
        right: 10vw;
        flex-direction:column;
    }
    
    header p svg{
        height: 60px;
        width: 60px;
    }
}

@media (max-width: 290px){
    header p{
        font-size: 40px;
        text-align: center;
        right: 10vw;
        flex-direction:column;
    }
    
    header p svg{
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 235px){
    header p{
        font-size: 30px;
        text-align: center;
        right: 10vw;
        flex-direction:column;
    }
    
    header p svg{
        height: 40px;
        width: 40px;
    }

    header img{
        margin-right: 600px;
    }
}

@media (max-height:411px){
    header p{
        font-size: 50px;
        text-align: center;
        right: 8vw;
        top: 40vh;
        flex-direction:column;
    }
    
    header p svg{
        height: 60px;
        width: 60px;
    }
}

@media (max-height:360px){
    header p{
        font-size: 40px;
        text-align: center;
        right: 8vw;
        top: 40vh;
        flex-direction:column;
    }
    
    header p svg{
        height: 50px;
        width: 50px;
    }
}